Importar biblioteca

In [15]:
import pandas as pd

Incluir dataframe

In [16]:
loja = {'data': ['24/06/2003', '19/05/1979'],
         'ID': [0000000000, 0000000000],
         'Pessoa': ['Ramonn', 'Reginaldo'],
         'Peso': [62, 90],
         }
shop_df=pd.DataFrame(loja)

In [17]:
display(shop_df)

         data  ID     Pessoa  Peso
0  24/06/2003   0     Ramonn    62
1  19/05/1979   0  Reginaldo    90

Incluir tabelas e dar forma

In [18]:
shop_df=pd.read_excel("dados.xlsx")
display(shop_df)

  Cliente Animal  Dias em Host Associado
0     Ana   doki            10       sim
1    Beto   lika            11       não
2    Caca   lala            10       não
3    Dado   hipo            20       sim
4     Eva   toto            12       sim
5    Guga   dori            10       não

Dar forma e descrição

In [19]:
display(shop_df.head(10))
print(shop_df.shape)
display(shop_df.describe())

  Cliente Animal  Dias em Host Associado
0     Ana   doki            10       sim
1    Beto   lika            11       não
2    Caca   lala            10       não
3    Dado   hipo            20       sim
4     Eva   toto            12       sim
5    Guga   dori            10       não

(6, 4)

       Dias em Host
count      6.000000
mean      12.166667
std        3.920034
min       10.000000
25%       10.000000
50%       10.500000
75%       11.750000
max       20.000000

Alterar descrição

In [20]:
cliente = shop_df[['Cliente','Animal']]
display(cliente)

  Cliente Animal
0     Ana   doki
1    Beto   lika
2    Caca   lala
3    Dado   hipo
4     Eva   toto
5    Guga   dori

Localizar

In [21]:
display(shop_df.loc[1:3])
clientela= shop_df.loc[shop_df['Associado']=='sim']
clientela= shop_df.loc[shop_df['Associado']=='sim',["Cliente", "Associado","Animal"]]
display(clientela)
print(shop_df.loc[1,'Associado'])

  Cliente Animal  Dias em Host Associado
1    Beto   lika            11       não
2    Caca   lala            10       não
3    Dado   hipo            20       sim

  Cliente Associado Animal
0     Ana       sim   doki
3    Dado       sim   hipo
4     Eva       sim   toto

não